USE [master]
GO
/****** Object:  Database [conferencePlanner]    Script Date: 8/27/2024 4:05:06 PM ******/
CREATE DATABASE [conferencePlanner]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'conferencePlanner', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\conferencePlanner.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'conferencePlanner_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\conferencePlanner_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [conferencePlanner].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [conferencePlanner]
GO
/****** Object:  Table [dbo].[__Logs]    Script Date: 8/27/2024 4:05:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__Logs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Message] [nvarchar](max) NULL,
	[Level] [nvarchar](128) NULL,
	[TimeStamp] [datetime] NOT NULL,
	[Exception] [nvarchar](max) NULL,
	[LogEvent] [nvarchar](max) NULL,
	[CorrelationId] [uniqueidentifier] NULL,
 CONSTRAINT [PK___Logs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Conference]    Script Date: 8/27/2024 4:05:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conference](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ConferenceTypeId] [int] NOT NULL,
	[LocationId] [int] NOT NULL,
	[OrganizerEmail] [nvarchar](50) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Conference] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConferenceXAttendee]    Script Date: 8/27/2024 4:05:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConferenceXAttendee](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AttendeeEmail] [nvarchar](50) NOT NULL,
	[ConferenceId] [int] NOT NULL,
	[StatusId] [int] NOT NULL,
	[Name] [nvarchar](255) NULL,
	[PhoneNumber] [nvarchar](50) NULL,
 CONSTRAINT [PK_ConferenceXAttendee] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConferenceXSpeaker]    Script Date: 8/27/2024 4:05:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConferenceXSpeaker](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ConferenceId] [int] NOT NULL,
	[SpeakerId] [int] NOT NULL,
	[IsMainSpeaker] [bit] NULL,
 CONSTRAINT [PK_ConferenceXSpeaker] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DictionaryCategory]    Script Date: 8/27/2024 4:05:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DictionaryCategory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DictionaryCategory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DictionaryCity]    Script Date: 8/27/2024 4:05:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DictionaryCity](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DictionaryCity] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DictionaryConferenceType]    Script Date: 8/27/2024 4:05:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DictionaryConferenceType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DictionaryConferenceType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DictionaryCountry]    Script Date: 8/27/2024 4:05:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DictionaryCountry](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DictionaryCountry] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DictionaryCounty]    Script Date: 8/27/2024 4:05:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DictionaryCounty](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DictionaryCounty] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DictionaryStatus]    Script Date: 8/27/2024 4:05:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DictionaryStatus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DictionaryStatus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmailNotification]    Script Date: 8/27/2024 4:05:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmailNotification](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[To] [nvarchar](150) NOT NULL,
	[Cc] [nvarchar](150) NULL,
	[Subject] [nvarchar](200) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[SentDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 8/27/2024 4:05:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AttendeeEmail] [nvarchar](100) NULL,
	[ConferenceId] [int] NOT NULL,
	[SpeakerId] [int] NOT NULL,
	[Rating] [decimal](5, 2) NULL,
	[Message] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Location]    Script Date: 8/27/2024 4:05:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Location](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Code] [nvarchar](50) NULL,
	[CountryId] [int] NOT NULL,
	[Address] [nvarchar](255) NULL,
	[CountyId] [int] NOT NULL,
	[CityId] [int] NOT NULL,
	[Latitude] [decimal](12, 9) NULL,
	[Longitude] [decimal](12, 9) NULL,
 CONSTRAINT [PK_Location] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SMSNotification]    Script Date: 8/27/2024 4:05:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMSNotification](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PhoneNumber] [nvarchar](20) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[SentDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Speaker]    Script Date: 8/27/2024 4:05:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Speaker](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Nationality] [nvarchar](50) NULL,
	[Rating] [decimal](5, 2) NULL,
	[Image] [image] NULL,
	[Email] [nvarchar](100) NULL,
	[PhoneNumber] [nvarchar](50) NULL,
 CONSTRAINT [PK_Speaker] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Conference] ON 
GO
INSERT [dbo].[Conference] ([Id], [ConferenceTypeId], [LocationId], [OrganizerEmail], [CategoryId], [StartDate], [EndDate], [Name]) VALUES (1, 1, 1, N'admin@totalsoft.ro', 1, CAST(N'2022-10-21' AS Date), CAST(N'2022-10-23' AS Date), N'Introduction to GraphQL')
GO
INSERT [dbo].[Conference] ([Id], [ConferenceTypeId], [LocationId], [OrganizerEmail], [CategoryId], [StartDate], [EndDate], [Name]) VALUES (2, 1, 1, N'admin@totalsoft.ro', 1, CAST(N'2022-10-21' AS Date), CAST(N'2022-10-23' AS Date), N'Introduction to GraphQL')
GO
INSERT [dbo].[Conference] ([Id], [ConferenceTypeId], [LocationId], [OrganizerEmail], [CategoryId], [StartDate], [EndDate], [Name]) VALUES (3, 1, 1, N'admin@totalsoft.ro', 1, CAST(N'2022-09-09' AS Date), CAST(N'2022-09-11' AS Date), N'Introduction to GraphQL')
GO
SET IDENTITY_INSERT [dbo].[Conference] OFF
GO
SET IDENTITY_INSERT [dbo].[ConferenceXAttendee] ON 
GO
INSERT [dbo].[ConferenceXAttendee] ([Id], [AttendeeEmail], [ConferenceId], [StatusId], [Name], [PhoneNumber]) VALUES (1, N'admin@totalsoft.ro', 1, 2, NULL, NULL)
GO
INSERT [dbo].[ConferenceXAttendee] ([Id], [AttendeeEmail], [ConferenceId], [StatusId], [Name], [PhoneNumber]) VALUES (2, N'admin@totalsoft.ro', 2, 3, NULL, NULL)
GO
INSERT [dbo].[ConferenceXAttendee] ([Id], [AttendeeEmail], [ConferenceId], [StatusId], [Name], [PhoneNumber]) VALUES (3, N'admin@totalsoft.ro', 3, 3, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[ConferenceXAttendee] OFF
GO
SET IDENTITY_INSERT [dbo].[ConferenceXSpeaker] ON 
GO
INSERT [dbo].[ConferenceXSpeaker] ([Id], [ConferenceId], [SpeakerId], [IsMainSpeaker]) VALUES (1, 1, 1, 1)
GO
INSERT [dbo].[ConferenceXSpeaker] ([Id], [ConferenceId], [SpeakerId], [IsMainSpeaker]) VALUES (2, 4, 2, 1)
GO
INSERT [dbo].[ConferenceXSpeaker] ([Id], [ConferenceId], [SpeakerId], [IsMainSpeaker]) VALUES (3, 5, 4, 1)
GO
SET IDENTITY_INSERT [dbo].[ConferenceXSpeaker] OFF
GO
SET IDENTITY_INSERT [dbo].[DictionaryCategory] ON 
GO
INSERT [dbo].[DictionaryCategory] ([Id], [Name], [Code]) VALUES (1, N'IT Software', N'it')
GO
SET IDENTITY_INSERT [dbo].[DictionaryCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[DictionaryCity] ON 
GO
INSERT [dbo].[DictionaryCity] ([Id], [Name], [Code]) VALUES (1, N'Razboieni', N'Razboieni')
GO
INSERT [dbo].[DictionaryCity] ([Id], [Name], [Code]) VALUES (2, N'Alexandru I. Cuza', N'Alexandru I. Cuza')
GO
INSERT [dbo].[DictionaryCity] ([Id], [Name], [Code]) VALUES (3, N'Kogalniceni', N'Kogalniceni')
GO
SET IDENTITY_INSERT [dbo].[DictionaryCity] OFF
GO
SET IDENTITY_INSERT [dbo].[DictionaryConferenceType] ON 
GO
INSERT [dbo].[DictionaryConferenceType] ([Id], [Name], [Code]) VALUES (1, N'Remote', N'rm')
GO
INSERT [dbo].[DictionaryConferenceType] ([Id], [Name], [Code]) VALUES (2, N'OnSite', N'os')
GO
SET IDENTITY_INSERT [dbo].[DictionaryConferenceType] OFF
GO
SET IDENTITY_INSERT [dbo].[DictionaryCountry] ON 
GO
INSERT [dbo].[DictionaryCountry] ([Id], [Name], [Code]) VALUES (1, N'AFGHANISTAN', N'AF')
GO
INSERT [dbo].[DictionaryCountry] ([Id], [Name], [Code]) VALUES (2, N'ALBANIA', N'AL')
GO
INSERT [dbo].[DictionaryCountry] ([Id], [Name], [Code]) VALUES (3, N'ALGERIA', N'DZ')
GO
SET IDENTITY_INSERT [dbo].[DictionaryCountry] OFF
GO
SET IDENTITY_INSERT [dbo].[DictionaryCounty] ON 
GO
INSERT [dbo].[DictionaryCounty] ([Id], [Name], [Code]) VALUES (1, N'Dolj', N'DJ')
GO
INSERT [dbo].[DictionaryCounty] ([Id], [Name], [Code]) VALUES (2, N'Bacau', N'BC')
GO
INSERT [dbo].[DictionaryCounty] ([Id], [Name], [Code]) VALUES (3, N'Harghita', N'HR')
GO
SET IDENTITY_INSERT [dbo].[DictionaryCounty] OFF
GO
SET IDENTITY_INSERT [dbo].[DictionaryStatus] ON 
GO
INSERT [dbo].[DictionaryStatus] ([Id], [Name], [Code]) VALUES (1, N'Joined', N'JOD')
GO
INSERT [dbo].[DictionaryStatus] ([Id], [Name], [Code]) VALUES (2, N'Withdrawn', N'WDN')
GO
INSERT [dbo].[DictionaryStatus] ([Id], [Name], [Code]) VALUES (3, N'Attended', N'ATD')
GO
SET IDENTITY_INSERT [dbo].[DictionaryStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[EmailNotification] ON 
GO
INSERT [dbo].[EmailNotification] ([Id], [To], [Cc], [Subject], [Message], [SentDate]) VALUES (1, N'madalina', NULL, N'Participare conferinta Introduction to GraphQL', N'Buna Madalina, 
    Te-ai inscris la conferinta Introduction to GraphQL, sustinuta de Capatina Alexandra.
    Te asteptam pe data 21/10/2022, la ora 12:00 AM, la locatia TotalSoft, sos. Bucuresti Nord nr. 10. 

    Zi frumoasa!', CAST(N'2024-08-08T16:27:44.247' AS DateTime))
GO
INSERT [dbo].[EmailNotification] ([Id], [To], [Cc], [Subject], [Message], [SentDate]) VALUES (2, N'string', NULL, N'Participare conferinta Introduction to React', N'Buna string, 
    Te-ai inscris la conferinta Introduction to React, sustinuta de Dragos Rosca.
    Te asteptam pe data 07/09/2022, la ora 12:00 AM, la locatia Remote, . 

    Zi frumoasa!', CAST(N'2024-08-08T16:31:52.380' AS DateTime))
GO
INSERT [dbo].[EmailNotification] ([Id], [To], [Cc], [Subject], [Message], [SentDate]) VALUES (3, N'madalina.mladin@totalsoft.ro', NULL, N'Participare conferinta Introduction to GraphQL', N'Buna Buna, 
    Te-ai inscris la conferinta Introduction to GraphQL, sustinuta de Capatina Alexandra.
    Te asteptam pe data 21/10/2022, la ora 12:00 AM, la locatia TotalSoft, sos. Bucuresti Nord nr. 10. 

    Zi frumoasa!', CAST(N'2024-08-12T13:29:39.047' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[EmailNotification] OFF
GO
SET IDENTITY_INSERT [dbo].[Feedback] ON 
GO
INSERT [dbo].[Feedback] ([Id], [AttendeeEmail], [ConferenceId], [SpeakerId], [Rating], [Message]) VALUES (2, N'madalina.mladin', 4, 2, CAST(5.00 AS Decimal(5, 2)), N'Super')
GO
INSERT [dbo].[Feedback] ([Id], [AttendeeEmail], [ConferenceId], [SpeakerId], [Rating], [Message]) VALUES (3, N'patricia.vasilicenco@totalsoft.ro', 4, 2, CAST(1.10 AS Decimal(5, 2)), N'frumos')
GO
INSERT [dbo].[Feedback] ([Id], [AttendeeEmail], [ConferenceId], [SpeakerId], [Rating], [Message]) VALUES (6, N'madalina@totalsoft.ro', 1, 1, CAST(1.00 AS Decimal(5, 2)), N'1')
GO
SET IDENTITY_INSERT [dbo].[Feedback] OFF
GO
SET IDENTITY_INSERT [dbo].[Location] ON 
GO
INSERT [dbo].[Location] ([Id], [Name], [Code], [CountryId], [Address], [CountyId], [CityId], [Latitude], [Longitude]) VALUES (1, N'TotalSoft', NULL, 6, N'sos. Bucuresti Nord nr. 10', 6, 1, NULL, NULL)
GO
INSERT [dbo].[Location] ([Id], [Name], [Code], [CountryId], [Address], [CountyId], [CityId], [Latitude], [Longitude]) VALUES (2, N'Remote', NULL, 9, NULL, 9, 2, NULL, NULL)
GO
INSERT [dbo].[Location] ([Id], [Name], [Code], [CountryId], [Address], [CountyId], [CityId], [Latitude], [Longitude]) VALUES (3, N'Sala Palatului', NULL, 6, N'str. Mihai Eminescu nr. 6', 6, 1, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Location] OFF
GO
SET IDENTITY_INSERT [dbo].[SMSNotification] ON 
GO
INSERT [dbo].[SMSNotification] ([Id], [PhoneNumber], [Message], [SentDate]) VALUES (1, N'+40731455779', N'Buna Ioana, 
    Te-ai inscris la conferinta Introduction to React, sustinuta de Dragos Rosca.
    Te asteptam pe data 07/09/2022, la ora 12:00 AM, la locatia Remote, . 

    Zi frumoasa!', CAST(N'2024-08-08T17:01:21.707' AS DateTime))
GO
INSERT [dbo].[SMSNotification] ([Id], [PhoneNumber], [Message], [SentDate]) VALUES (2, N'+40720933557', N'Buna Patricia, 
    Te-ai inscris la conferinta C# API, sustinuta de Capatina Alexandra.
    Te asteptam pe data 08/08/2024, la ora 12:00 AM, la locatia 1, 1. 

    Zi frumoasa!', CAST(N'2024-08-08T17:04:14.627' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[SMSNotification] OFF
GO
SET IDENTITY_INSERT [dbo].[Speaker] ON 
GO
INSERT [dbo].[Speaker] ([Id], [Name], [Nationality], [Rating], [Image], [Email], [PhoneNumber]) VALUES (1, N'Capatina Alexandra', N'romania', CAST(5.00 AS Decimal(5, 2)), NULL, NULL, NULL)
GO
INSERT [dbo].[Speaker] ([Id], [Name], [Nationality], [Rating], [Image], [Email], [PhoneNumber]) VALUES (2, N'Dragos Rosca', N'ro', CAST(3.05 AS Decimal(5, 2)), NULL, NULL, NULL)
GO
INSERT [dbo].[Speaker] ([Id], [Name], [Nationality], [Rating], [Image], [Email], [PhoneNumber]) VALUES (3, N'Diaconita Costi', N'ro', CAST(5.00 AS Decimal(5, 2)), NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Speaker] OFF
GO
/****** Object:  Index [IX_ConferenceXSpeaker]    Script Date: 8/27/2024 4:05:06 PM ******/
ALTER TABLE [dbo].[ConferenceXSpeaker] ADD  CONSTRAINT [IX_ConferenceXSpeaker] UNIQUE NONCLUSTERED 
(
	[ConferenceId] ASC,
	[SpeakerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Conference]  WITH CHECK ADD  CONSTRAINT [FK_Conference_DictionaryCategory] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[DictionaryCategory] ([Id])
GO
ALTER TABLE [dbo].[Conference] CHECK CONSTRAINT [FK_Conference_DictionaryCategory]
GO
ALTER TABLE [dbo].[Conference]  WITH CHECK ADD  CONSTRAINT [FK_Conference_DictionaryConferenceType] FOREIGN KEY([ConferenceTypeId])
REFERENCES [dbo].[DictionaryConferenceType] ([Id])
GO
ALTER TABLE [dbo].[Conference] CHECK CONSTRAINT [FK_Conference_DictionaryConferenceType]
GO
ALTER TABLE [dbo].[Conference]  WITH CHECK ADD  CONSTRAINT [FK_Conference_Location] FOREIGN KEY([LocationId])
REFERENCES [dbo].[Location] ([Id])
GO
ALTER TABLE [dbo].[Conference] CHECK CONSTRAINT [FK_Conference_Location]
GO
ALTER TABLE [dbo].[ConferenceXAttendee]  WITH CHECK ADD  CONSTRAINT [FK_ConferenceXAttendee_Conference] FOREIGN KEY([ConferenceId])
REFERENCES [dbo].[Conference] ([Id])
GO
ALTER TABLE [dbo].[ConferenceXAttendee] CHECK CONSTRAINT [FK_ConferenceXAttendee_Conference]
GO
ALTER TABLE [dbo].[ConferenceXAttendee]  WITH CHECK ADD  CONSTRAINT [FK_ConferenceXAttendee_DictionaryStatus] FOREIGN KEY([StatusId])
REFERENCES [dbo].[DictionaryStatus] ([Id])
GO
ALTER TABLE [dbo].[ConferenceXAttendee] CHECK CONSTRAINT [FK_ConferenceXAttendee_DictionaryStatus]
GO
ALTER TABLE [dbo].[ConferenceXSpeaker]  WITH CHECK ADD  CONSTRAINT [FK_ConferenceXSpeaker_Conference] FOREIGN KEY([ConferenceId])
REFERENCES [dbo].[Conference] ([Id])
GO
ALTER TABLE [dbo].[ConferenceXSpeaker] CHECK CONSTRAINT [FK_ConferenceXSpeaker_Conference]
GO
ALTER TABLE [dbo].[ConferenceXSpeaker]  WITH CHECK ADD  CONSTRAINT [FK_ConferenceXSpeaker_Speaker] FOREIGN KEY([SpeakerId])
REFERENCES [dbo].[Speaker] ([Id])
GO
ALTER TABLE [dbo].[ConferenceXSpeaker] CHECK CONSTRAINT [FK_ConferenceXSpeaker_Speaker]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_ConferenceId] FOREIGN KEY([ConferenceId])
REFERENCES [dbo].[Conference] ([Id])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_ConferenceId]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_SpeakerId] FOREIGN KEY([SpeakerId])
REFERENCES [dbo].[Speaker] ([Id])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_SpeakerId]
GO
ALTER TABLE [dbo].[Location]  WITH CHECK ADD  CONSTRAINT [FK_Location_DictionaryCity] FOREIGN KEY([CityId])
REFERENCES [dbo].[DictionaryCity] ([Id])
GO
ALTER TABLE [dbo].[Location] CHECK CONSTRAINT [FK_Location_DictionaryCity]
GO
ALTER TABLE [dbo].[Location]  WITH CHECK ADD  CONSTRAINT [FK_Location_DictionaryCountry] FOREIGN KEY([CountryId])
REFERENCES [dbo].[DictionaryCountry] ([Id])
GO
ALTER TABLE [dbo].[Location] CHECK CONSTRAINT [FK_Location_DictionaryCountry]
GO
ALTER TABLE [dbo].[Location]  WITH CHECK ADD  CONSTRAINT [FK_Location_DictionaryCounty] FOREIGN KEY([CountyId])
REFERENCES [dbo].[DictionaryCounty] ([Id])
GO
ALTER TABLE [dbo].[Location] CHECK CONSTRAINT [FK_Location_DictionaryCounty]
GO
USE [master]
GO
